@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Custom styles */
.container-custom {
  max-width: 1200px;
  padding: 0 1rem;
  width: 100%;
  align-self: center;
}

.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-shadow:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.footer-class {
  margin-top: auto;
  background-color: #343a40; /* Bootstrap dark background */
  width: 100%;
}
